.containerProducts {
    max-width: 85%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8em;
}

.headerProducts {
    font-size: 4vh;
    font-family: Combo;
    text-align: center;
}

.colProducts {
    padding: 15px;
}

.cardProducts {
    height: 100%;
    margin-bottom: '2em';
    display: 'flex';
    flex-direction: 'column';
}

.imageCardProducts {
    height: 300px;
}